#links, #link {
    text-align: right;
}

h3 {
    font-weight: normal;
    font-style: Arial;
}

form {
    text-align: center;
    margin-top: 300px;
}

input[name="q"] {
    border-radius: 10px;
    border-color: #70757a;
    background-size: 20px;
}

input[name="btnI"], input[name="btnK"]  {
    color: 2px solid #70757a;
    border-radius:4px;
    font-style: italic;
    padding:0 5px;
    cursor:pointer;
    padding-right:8px;
    font-size:12px;
    line-height:16px;
    padding-bottom:4px
}

.advanced {
    text-align: left;
}

input[name="advanced_submit"] {
    background-color: #3079ed;
    border-color: #3079ed;
    border-radius: 2px;
    color: white;
    
}